@import "bootstrap/scss/bootstrap.scss";

body {
    // Anta, Sansation, Comfortaa, 'Sofia Sans'
    --bs-font-sans-serif: 'Comfortaa', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    // --bs-font-monospace: 'VT323', monospace;
}

.lv-fill {
    @extend .position-absolute;
    @extend .top-0;
    @extend .start-0;
    @extend .bottom-0;
    @extend .end-0;
}

// треугольник дилога
.tri-bottom-right {
    width: 0;
    height: 0;
    border-bottom: var(--lv-corner-size) solid rgb(var(--bs-tertiary-bg-rgb));
    border-left: var(--lv-corner-size) solid transparent;
}

// треугольник дилога
.tri-bottom {
    width: 0;
    height: 0;
    border-left: var(--lv-corner-size) solid transparent;
    border-right: var(--lv-corner-size) solid transparent;
    border-bottom: var(--lv-corner-size) solid rgb(var(--bs-tertiary-bg-rgb));
    margin-right: calc(var(--lv-corner-size) * -1);
}
