.fx-text-gradient {    
	background-image: linear-gradient(
		180deg,
		#4fe196 0%,
		#63c2eb 35%,
		#5bcfc8 70%,
		#4fe196 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.fx-glow {
    filter: drop-shadow(0px 0px var(--lv-glow-size) var(--lv-glow-color));
}

.fx-glow-sm {
    filter: drop-shadow(0px 0px var(--lv-glow-sm-size) var(--lv-glow-sm-color));
}

.fx-neon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff, // inner white 
        inset 20px 0 80px #f0f, // inner left magenta short
        inset -20px 0 80px #0ff, // inner right cyan short
        inset 20px 0 300px #f0f, // inner left magenta broad
        inset -20px 0 300px #0ff, // inner right cyan broad
        0 0 50px #fff, // outer white
        -10px 0 80px #f0f, // outer left magenta
        10px 0 80px #0ff; // outer right cyan
}


@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.fx-glow-box {
    background: var(--fx-glow-body-color);
    border-radius: var(--fx-glow-radius);
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: calc(var(--fx-glow-border) * -1);
        z-index: -1;
    
        // border-radius: inherit;
        border-radius: calc(var(--fx-glow-border) + var(--fx-glow-radius));
    
        background-image: conic-gradient(
            from var(--gradient-angle),
            transparent,
            #1976ed,
            transparent 25%
        );
        // background: conic-gradient(
        //     from var(--gradient-angle),
        //     var(--clr-3),
        //     var(--clr-4),
        //     var(--clr-5),
        //     var(--clr-4),
        //     var(--clr-3),
        // );
        animation: rotation 10s linear infinite;  
    }

    &::after {
        filter: blur(var(--fx-glow-blur));
    }
}

@keyframes rotation {
    to {
        --gradient-angle: 1turn;
    }
}

// https://codepen.io/Bembit/pen/PwoOQwe
// https://codepen.io/e11world/pen/oNVNbNo
// https://codepen.io/mohan-aiyer/pen/XJrXMQw
// https://codepen.io/jgarrow/pen/jOpoEQd
// https://codepen.io/thebabydino/pen/raBKVRG

// https://codepen.io/thebabydino/pen/KwPBvzo