:root {
    --lv-logo-size: 32px;
    --lv-corner-size: var(--bs-border-radius-xl);
    --lv-glow-color: #f0f;
    --lv-glow-size: 30px;
    --lv-glow-sm-color: rgba(255, 0, 255, 0.498);
    --lv-glow-sm-size: 30px;
}